{% extends 'index.html' %}
{% block content %}
<br></br>
<center>ITEMS-LIST PAGE</center>
<br>
		<table class = "table table-striped table-bordered" >
			<thead class = "table-dark">
				<tr>
					<th> # id </th>
					<th> Name</th>
					<th> Cost </th>
					
					<th>Selling Price</th>
					<th>Item Quantity Left</th>
					
                    <th> Action </th>
				</tr>
			</thead>
			
			<tbody>
                {% for item in items %}
				<tr>
					<td>{{item.id}}</td>

                    <td>{{item.item_name}} </td>

                    <td>$ {{item.item_cost}}</td>

					<td>$ {{item.item_selling_price}}</td>

					<td>{{item.item_quantity}}</td>



					<td style="display: flex">

						<button id="{{item.item_id}}" style="margin: 4px ;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#view_item_{{item.id}}">
							View
						</button>
                        
						
						<a style="height: 40px; margin: 4px;" type="button" class="btn btn-primary" href="{% url 'edit_item' item.id %}">
							Edit	
						</a>

						<a style="height: 40px; margin: 4px;" type="button" class="btn btn-primary" href="{% url 'order_item' item.id %}">
							Order
						</a>

						<a style="height: 40px; margin: 4px;" type="button" class="btn btn-primary" href="{% url 'sell_item' item.id %}">
							Sell
						</a>
						
			
                     
						  
					</td>

				</tr>

				<div class="modal fade" id="view_item_{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
					  <div class="modal-content">
						<div class="modal-header">
						  <h5 class="modal-title" id="exampleModalLongTitle"> Viewing {{item.item_name}}</h5>
						  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						  </button>
						</div>
					
						<div class="modal-body">	
						    
							
							<input type="hidden" name="form_type" value="view_item_form">
							<h6>Id</h6>
							<input class="form-control" type="text" name="edit_item_id" value="{{item.id}}" readonly>
							<br>
							<h6>Name</h6>
							<input class="form-control" type="text" name="item_name" value="{{item.item_name}}" readonly>
							<br>
							<h6>cost</h6>
							<input class="form-control" type="text" name="item_cost" value="{{item.item_cost}}" readonly>
							<br>
							<h6>Quantity</h6>
							<input class="form-control" type="text" name="item_quantity" value="{{item.item_quantity}}" readonly>
							<br>
							<h6>quantity sold</h6>
							<input class="form-control" type="text" name="quantity_sold" value="{{item.item_quantity_sold}}" readonly>
							<br>
							<h6>selling price</h6>
							<input class="form-control" type="text" name="selling_price" value="{{item.item_selling_price}}" readonly>
							
							
						</div>
						<div class="modal-footer">
						  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						 
						</div>
						
					  </div>
					</div>
				</div>

				<div class="modal fade" id="sell_item_{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
					  <div class="modal-content">
						<div class="modal-header">
						  <h5 class="modal-title" id="exampleModalLongTitle"> Selling {{item.item_name}}</h5>
						  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						  </button>
						</div>
					    
						{% if item.item_quantity_left >= 1 %}
						<form method="post">
							{% csrf_token %}
						<div class="modal-body">	
						    
							
							<input type="hidden" name="btn_type" value="sell_item">
							<h6>Id</h6>
							<input class="form-control" type="text" name="sell_item_id" value="{{item.item_id}}" readonly>
							<br>
							<h6>Name</h6>
							<input class="form-control" type="text" name="item_name" value="{{item.item_name}}" readonly>
							<br>
							<h6>Available Quantity</h6>
							<input class="form-control" type="text" name="item_quantity_available" value="{{item.item_quantity_left}}" readonly>
							<br>

							<h6>Number of Items to sell</h6>
							<input class="form-control" type="text" name="item_sell_quantity">
							<br>

						</div>
						<div class="modal-footer">
						  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						  <button type="submit" class="btn btn-secondary" data-dismiss="model">Sell</button>
						</div>
						</form>
						{% else %}
						<div class="modal-body">
							<h5>Sorry, all items sold!!!</h5>
							<h5>Please Update Item Quantity or Order New Item </h5>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
                        
                        {% endif %}

					
					  </div>
					</div>
				</div>





                {% endfor %}
			</tbody>
		
		</table>
			
{% endblock %}