{% extends 'index.html' %}
{% block content %}
<br></br>
<center>ORDERS PLACED</center>
<br>
		<table class = "table table-striped table-bordered" >
			<thead class = "table-dark">
				<tr>
					<th> # id </th>
					<th> Name</th>				
					<th>Cost Price</th>
                    <th>Quantity Ordered</th>
                    <th> Action </th>
				</tr>
			</thead>
			
			<tbody>
                {% for order in orders %}
				<tr>
					<td>{{order.id}}</td>

                    <td>{{order.item_name}} </td>

					<td> $ {{order.item_cost}}</td>

                    <td>{{order.item_quantity}}</td>



					<td style="display: flex">
                     <form method="post" action="/orders_placed">
						{% csrf_token %}
						<input type="hidden" name="btn_type" value="received_order">
						<input type="hidden" name="order_id" value="{{order.id}}">
						<input type="hidden" name="order_item_id" value="{{order.item_id}}">
						<input type="hidden" name="item_name" value="{{order.item_name}}">
						<input type="hidden" name="item_cost" value="{{order.item_cost}}">
						<input type="hidden" name="item_selling_price" value="{{order.item_selling_price}}">
						<input type="hidden" name="quantity" value="{{order.item_quantity}}">
						<button id="{{order.id}}" style="margin: 4px ;" type="submit" class="btn btn-primary" data-toggle="modal" data-target="#order_received">
							Received 
						</button>
					 </form>

						
						<button id="{{order.order_id}}" style="margin: 4px ;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#cancel_order_{{order.id}}" value="{{order.id}}">
							Cancel
						</button>
					 		
						  
					</td>

				</tr>

				


				<div class="modal fade" id="cancel_order_{{order.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
					  <div class="modal-content">
						<div class="modal-header">
						  <h5 class="modal-title" id="exampleModalLongTitle"> Confirm Cancellation</h5>
						  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						  </button>
						</div>
						<form method="POST">
						<div class="modal-body">	
						    
							{% csrf_token %}
                            <h5>Are you sure to cancel {{order.item_name}}?</h5>
							<input type="hidden" name="btn_type" value="cancel_order">
                            <input type="hidden" name="order_id" value="{{order.id}}">
							<input type="hidden" name="order_item_id" value="{{order.item_id}}">
                            <input type="hidden" name="item_name" value="{{order.item_name}}">
							<input type="hidden" name="item_cost" value="{{order.item_cost}}">
							<input type="hidden" name="quantity" value="{{order.item_quantity}}">
                            <input type="hidden" name="item_selling_price" value="{{order.item_selling_price}}">
				            
                           
						</div>
						<div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Yes</button>
						  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
						  
						</div>
						</form>
					  </div>
					</div>
				</div>



			

                {% endfor %}
			</tbody>
		
		</table>

		
	
{% endblock %}